OPENAI_BASE_URL=https://cdong1--azure-proxy-web-app.modal.run
OPENAI_API_KEY=supersecretkey
OPENAI_DEPLOYMENT=gpt-4o
SUPABASE_URL=https://abcxyzcompany.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkZHltd2RrZXpta3l4andzbGhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3MTQ0MjYsImV4cCI6MjA3MTI5MDQyNn0.jHit457rcZOqCpaXSV4hU2lCdroScDJbQo8iv-AI5gE
SUPABASE_SERVICE_ROLE=replace_if_you_have_it
SUPABASE_TABLE=etl_items

